<h1>Change Admin password page</h1><br>


<div class="container">
    <form #admChangePasswordForm="ngForm" (ngSubmit)="onSubmit(admChangePasswordForm.value)">


        <div>
            <label>New Password</label>
            <input type="password" name="password" maxlength="150" [(ngModel)]="adm.password" #password="ngModel"
                required>
            <div *ngIf="password.touched && password.invalid">
                <p *ngIf="password.errors && password.errors['required']">Password is required</p>
                <p *ngIf="password.errors && password.errors['maxlength']">Maximum length is 150 chars </p>

            </div>

        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!admChangePasswordForm.valid">Submit</button>


    </form>



</div>