<h1>Change password page</h1><br>
<a routerLink="/student-logout">Logout</a><br>
<a routerLink="/student-home">Home Page</a><br>

<div class="container">
    <form #studChangePasswordForm="ngForm" (ngSubmit)="onSubmit(studChangePasswordForm.value)">


        <div>
            <label>New Password</label>
            <input type="password" name="password" maxlength="150" [(ngModel)]="student.password" #password="ngModel"
                required>
            <div *ngIf="password.touched && password.invalid">
                <p *ngIf="password.errors && password.errors['required']">Password is required</p>
                <p *ngIf="password.errors && password.errors['maxlength']">Maximum length is 150 chars </p>

            </div>

        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!studChangePasswordForm.valid">Submit</button>


    </form>



</div>